Source: lcmc
Section: admin
Priority: extra
Maintainer: Rasto Levrinc <rasto.levrinc@gmail.com>
Build-Depends: maven, cdbs
Build-Depends-Indep: oracle-java10-jre | openjdk-10-jdk, libxalan2-java, libjava3d-java,
Standards-Version: 3.8.3
Homepage: http://lcmc.sourceforge.net

Package: lcmc
Architecture: all
Depends: oracle-java10-jre | openjdk-10-jre,
 java-wrappers, ${misc:Depends}
Description: Linux Cluster Management Console
 The LCMC is a GUI application that configures, manages and visualizes high-
 availability clusters. Specifically it manages clusters that use one or more
 of these components: Pacemaker, Corosync, Heartbeat, DRBD, KVM, XEN and LVM.
