Source: lcmc
Section: admin
Priority: extra
Maintainer: Rasto Levrinc <rasto.levrinc@gmail.com>
Build-Depends: ant
Build-Depends-Indep: openjdk-6-jdk
Standards-Version: 3.8.3
Homepage: http://lcmc.sourceforge.net

Package: lcmc
Architecture: all
Depends: openjdk-6-jre | sun-java6-jre | sun-java6-jre, 
 java-wrappers, ${misc:Depends}
Description: Linux Cluster Management Console
