#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/ant.mk
-include /usr/share/topgit/tg2quilt.mk

JAVA_HOME 		:= /usr/lib/jvm/java-6-openjdk
DEB_ANT_BUILDFILE 	:= debian/build.xml
DEB_ANT_BUILD_TARGET 	:= jar
DEB_JARS 		:= vecmath j3dcore jd3utils jai_core xalan2
ANT_OPTS		:= -Xmx512m

build/lcmc::
	perl -ne 'print(unpack "u", $$_)' debian/LCMC.png.uu > \
		debian/LCMC.png

