[Desktop Entry]
Categories=Java;System;Settings;
Comment=Manage Pacemaker/KVM/DRBD Clusters
Exec=lcmc %f
GenericName=Linux Cluster MC
Icon=/usr/share/pixmaps/lcmc.png
Name=Linux Cluster MC
Type=Application
