[Desktop Entry]
Categories=Java;System;
Comment=Manage Pacemaker Clusters
Exec=lcmc %f
GenericName=Linux Cluster MC
Icon=/usr/share/pixmaps/LCMC.png
Icon=LCMC
Name=Linux Cluster MC
Type=Application
